arrow==1.1.1
asgiref==3.4.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.6
django-formtools==2.3
django-otp==1.0.6
django-otp-yubikey==1.0.0.post1
django-phonenumber-field==5.2.0
django-two-factor-auth==1.13.1
django-user-sessions==1.7.1
djangosaml2idp==0.7.2
elementpath==2.2.3
idna==3.2
importlib-resources==5.2.2
phonenumberslite==8.12.28
pycparser==2.20
pycryptodome==3.10.1
pyOpenSSL==20.0.1
pysaml2==7.0.1
python-dateutil==2.8.2
pytz==2021.1
qrcode==6.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.6
xmlschema==1.7.0
YubiOTP==1.0.0
zipp==3.5.0
