mysql-connector-python==8.0.29
uniauth-saml2-idp==2.0.1
Django[argon2]==3.2.21
django-ldapdb
django-otp
#django-otp-yubikey
django-phonenumber-field
django-simple-captcha
django-oauth-toolkit
django-user-sessions
django-two-factor-auth
django-xforwardedfor-middleware
django-termsandconditions
django-widget-tweaks
gunicorn
phonenumberslite
six
argon2-cffi
pip-audit
