arrow==1.1.1
asgiref==3.4.1
astroid==2.6.5
autopep8==1.5.7
bootstrap4==0.1.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.5
django-bootstrap==0.2.4
djangosaml2idp==0.7.2
elementpath==2.2.3
flake8==3.9.2
idna==3.2
importlib-resources==5.2.0
isort==5.9.2
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
parso==0.8.2
pluggy==0.13.1
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.1.1
pyflakes==2.3.1
pylint==2.9.5
pyOpenSSL==20.0.1
pysaml2==7.0.1
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.1.0
pytz==2021.1
requests==2.26.0
rope==0.19.0
six==1.16.0
snowballstemmer==2.1.0
sqlparse==0.4.1
toml==0.10.2
ujson==4.0.2
urllib3==1.26.6
wrapt==1.12.1
xmlschema==1.6.4
yapf==0.31.0
zipp==3.5.0
