<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO</title>

    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.darkly.css">

    <!-- icons -->
    <link rel="stylesheet" href="/static/bootstrap-icons/font/bootstrap-icons.min.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Users
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'password-change' %}">Update Password</a></li>
                <!-- <li><a class="dropdown-item" href="{% url 'user_sessions:session_list' %}">List Sessions</a></li> -->
                <li><a class="dropdown-item" href="{% url 'user-apps-list' %}">Manage Application Passwords</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'password-reset' %}">Password Reset</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
              </ul>
            </li>
            
            {% if user.user_type in "HR HOSTING" %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Staff
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'staff-user-list' %}">List/Edit Users</a></li>
                <!--
                <li><a class="dropdown-item" href="{% url 'staff-dpts-list' %}">List/Edit Departments</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'staff-role-manage' %}">Manage User/Department/Roles</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'ldap-user-list' %}">List/Edit Ldap Users</a></li>
                <li><a class="dropdown-item" href="{% url 'ldap-group-list' %}">List/Edit Ldap Groups</a></li>
                -->
              </ul>
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin Site</a>
            </li>
            {% endif %}
          </ul>

          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <div class="btn">
                <span class="bi bi-person-circle" title="{{ user.get_full_name }}"> {{ user.email }}</span>
              </div>
            </li>
            <li class="nav-item">
              {% if user.is_verified %}
                <a type="button" class="btn btn-dark mr-1" title="2FA Active - View Profile" href="{% url 'two_factor:profile' %}">
                  <span class="bi bi-shield-lock" title="2FA Active"></span>
                </a>
              {% else %}
                {% if user.default_device %}
                  <a type="button" class="btn btn-dark mr-1" title="2FA Not Active" href="{% url 'two_factor:login' %}">
                  <span class="bi bi-shield-slash"></span>
                  </a>
                {% else %}
                  <a type="button" class="btn btn-dark mr-1" title="2FA Not Active" href="{% url 'two_factor:setup' %}">
                  <span class="bi bi-shield-slash"></span>
                  </a>
                {% endif %}
              {% endif %}
            </li>

            <li class="nav-item">
              <a class="btn btn-secondary ms-auto" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <!-- page content -->
  <main class="container">
  {% block content %}
  
  {% endblock content %}
  </main>

<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
