{% extends "base.html" %}

{% load widget_tweaks %}
{% load filters %}

{% block title %}Send Password Reset{% endblock %}

{% block content %}

<div class="container">

<div class="header">
  {% if messages %}
  {% for message in messages %}
      {% if message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe|escape }}
          </div>
      {% elif message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe }}
          </div>
      {% elif message.tags == 'info' %}
          <div class="alert alert-info alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe|escape }}
          </div>
      {% elif message.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe|escape }}
          </div>
      {% endif %}
  {% endfor %}
  {% endif %}
</div>

<div>
  <form method="POST">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
        <span class="help-block">{{ field.help_text }}</span>
      </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="Update">
    <a type="button" class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>

  </form>
</div>

{% endblock content %}
