{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="header">
  {% if messages %}
  {% for message in messages %}
      {% if message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe|escape }}
          </div>
      {% elif message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe }}
          </div>
      {% elif message.tags == 'info' %}
          <div class="alert alert-info alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe|escape }}
          </div>
      {% elif message.tags == 'warning' %}
          <div class="alert alert-warning alert-dismissible" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message|safe|escape }}
          </div>
      {% endif %}
  {% endfor %}
  {% endif %}
</div>

<div class="jumbotron">
<form action="" method="POST">
  {% csrf_token %}

  <div class="form-row">
    <p>{{ form.username.errors }}</p>
    <label for="id_username">Email Address:</label>
    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="254" required id="id_username" class="form-control">
  </div>

  <div class="form-row">
    <p>{{ form.username.errors }}</p>
    <label for="id_password">Password:</label>
    <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control">
  </div>

  <!-- otp_device -->
    
  <div class="form-row">
    <p>{{ form.otp_token.errors }}</p>
    <label for="id_otp_token">OTP Token:</label>
    <input type="text" name="otp_token" autocomplete="off" id="id_otp_token" class="form-control">
  </div>

  <div style="clear:both;" class="clearfix">&nbsp;</div>

  <div class="submit-row form-row">
    <p>
    <input type="submit" class="btn btn-primary" value="Login"/>
    </p>
  </div>
</form>
</div>

{% endblock content %}
