{% extends 'base.html' %}

{% load widget_tweaks %}
{% load filters %}

{% block title %}Update Your Password.{% endblock %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe }}
            </div>
        {% elif message.tags == 'info' %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <h4>Update Your Password.</h4>
    <hr/>

    <form method="POST">
        {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
        <span class="help-block">{{ field.help_text }}</span>
      </div>
    {% endfor %}

    <div class="form-group">
      <p><label for="box">Show Passwords:</label> <input type="checkbox" id="box" class="form-check-input" onclick ="reveal()"></p>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Update">
    </div>
    </form>


    {% if form|class_name == 'customSetPasswordForm' %}
    <script type="text/javascript">
        function reveal()
        {
        if (document.getElementById('box').checked)
            {
            document.getElementById("id_otpass").type='text',
            document.getElementById("id_new_password1").type='text',
            document.getElementById("id_new_password2").type='text';
            }
        else
            document.getElementById("id_otpass").type='password',
            document.getElementById("id_new_password1").type='password',
            document.getElementById("id_new_password2").type='password';
        }
    </script>
    {% else %}
        <script type="text/javascript">
        function reveal()
        {
        if (document.getElementById('box').checked)
            {
            document.getElementById("id_old_password").type='text',
            document.getElementById("id_new_password1").type='text',
            document.getElementById("id_new_password2").type='text';
            }
        else
            document.getElementById("id_old_password").type='password',
            document.getElementById("id_new_password1").type='password',
            document.getElementById("id_new_password2").type='password';
        }
    </script>
    {% endif %}

{% endblock %}
