{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="header">&nbsp;</div>

<hr/>

  <!-- Iterate over object_list -->
  {% for object in object_list %}
  <div class="row">
    <!-- Display Objects -->
    <div class="col-md-3">
      <p>{{ object.email }}</p>
      <p>{{ object.get_full_name }}
      <p>{{ object.nickname }}</p>
    </div>
    <div class="col-md-2">Staff: {{ object.is_staff }}</div>
    <div class="col-md-3">Departments:
      <ul>
      {% for department in object.departments.all %}
      <li>{{ department }}</li>
      {% endfor %}
      </ul>
    </div>
    {% if user.is_staff or user.is_superuser %}
    <div class="col-md-3">
      <a type="button" class="btn btn-primary" href="{% url 'users-edit' pk=object.pk %}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
    </div>
    {% endif %}

  </div>
  <hr/>
    <!-- If object_list is empty  -->
    {% empty %}
    <div class="row">No objects yet.</div>
    {% endfor %}

</div>

{% endblock content %}
